<div id="footer">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <p id="texto-footer" class="navbar-text">Copyright © 2020 / Design by João Pedro Ferreira</p>
          <div class="d-flex justify-content-center">
            <li class="nav-item">
                <a href="https://github.com/JoaoPedroFerreira31"><span class="ml-2 fab fa-github fa-2x" ></span></a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-marrecas-ferreira/"><span class="ml-2 fab fa-linkedin fa-2x" ></span></a>
            </li>
            <li class="nav-item">
                <a href="/pagina_inicial/#subir"><span class="ml-2 fas fa-arrow-alt-circle-up fa-2x"></span></a>
            </li>
          </div>  
        </div>
      </div>
    <!-- <div class="row">
        
        <div class="col-lg-8 col-md-8 col-sm-8">
            <p id="texto-footer">Copyright © 2020 / Design by João Pedro Ferreira</p>
        </div>   
        
        <div class="col-lg-4 col-md-4 col-sm-4">
           <span href="https://github.com/JoaoPedroFerreira31" class="fab fa-github fa-2x"></span>
        </div>

    </div> -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>