<div id="footer">
    <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p id="texto-footer">Copyright © 2020 / Design by João Pedro Ferreira</p>
        </div>   
        
        <div class="col-lg-6 col-md-6 col-sm-6">
           <span href="https://github.com/JoaoPedroFerreira31" class="fab fa-github fa-2x"></span>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>