<%- include("partials/header") %>

<!--Header-->
<section class="header">
    <header class="jumbotron mb-0">
            <div class="header-projetos">
                <h2 class="texto-projetos text-center mb-5 mt-5">Contatos</h2>
            </div>   
	</header>
</section>

<!-- Contactos -->
<div class="container mt-5 mb-5">
    <div class="row">
        
        <div class="col-lg-4 col-md-4 col-sm-4 mt-5" style=" background-color: #172A3C;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); padding:50px;">
            <h5 style="color: white;"><i class="far fa-envelope fa-1x mr-2" style="color: white;"></i>Email:</h5>
            <a class="mr-5" href="mailto:jpmferreira31@gmail.com" style="color: green; font-size: large;">jpmferreira31@gmail.com</a>
        </div>

    </div>
</div>    

<%- include("partials/footer") %>