<%- include("partials/header") %>

<!--Header-->
<section class="header">
    <header class="jumbotron mb-0">
            <div class="header-projetos">
                <h2 class="texto-projetos text-center mb-5 mt-5">Contactos</h2>
            </div>   
	</header>
</section>
    

<%- include("partials/footer") %>