<%- include("partials/header")%>

<!--Header-->
<section id="header">
    <header class="jumbotron mb-0">
            <div id="header-projetos">
                <h3 class="texto-header-projetos text-center">Veja aqui os meus <br><span>projetos</span></h3>
                <a href="#" class="btn btn-sm" id="botao-projetos" >Clicar</a>
            </div>   
	</header>
</section>

<div class="container">

<!-- Sobre -->
<section id="sobre" >
    <p class="text-center">Bacon ipsum dolor amet ham hock pork kevin, prosciutto biltong leberkas tenderloin ground round pig. Beef jerky andouille salami kevin. Burgdoggen sirloin short ribs filet mignon short loin hamburger kevin, bacon turkey. Landjaeger tongue jerky chuck. Jerky ball tip pastrami short ribs beef.   
     Beef ribs beef pork belly ball tip meatball shoulder tail strip steak ground round jowl. Shankle rump ground round spare ribs beef ribs ham beef landjaeger.</p>
</section>


<!-- Stack -->
<section id="stack">
    <h1 class="text-center">Stack</h1>
    <div class="row">
        <div class="col-md-2 ml-3">
            <img src="../icons/html-5.svg" class="imagem-stack">
            <h5>HTML</h6>
        </div>
        <div class="col-md-2 ml-3">
            <img src="../icons/html-5.svg" class="imagem-stack">
            <h5>HTML</h6>
        </div>  
        <div class="col-md-2 ml-3">
            <img src="../icons/html-5.svg" class="imagem-stack">
            <h5>HTML</h6>
        </div>
        <div class="col-md-2 ml-3">
            <img src="../icons/html-5.svg" class="imagem-stack">
            <h5>HTML</h6>
        </div>  
        <div class="col-md-2 ml-3">
            <img src="../icons/html-5.svg" class="imagem-stack">
            <h5>HTML</h6>
        </div>      
    </div>
</section>

</div>
<%- include("partials/footer")%> 