<%- include("partials/header")%>

<!--Header-->
<section id="header">
    <header class="jumbotron mb-0">
            <div id="header-projetos">
                <h3 class="texto-header-projetos text-center">Veja aqui os meus <br><span>projetos</span></h3>
                <a href="/projetos" class="btn btn-sm" id="botao-projetos" >Clicar</a>
            </div>   
	</header>
</section>

<div class="container">

<!-- Sobre -->
<section id="sobre" >
    <p class="text-center">Bacon ipsum dolor amet ham hock pork kevin, prosciutto biltong leberkas tenderloin ground round pig. Beef jerky andouille salami kevin. Burgdoggen sirloin short ribs filet mignon short loin hamburger kevin, bacon turkey. Landjaeger tongue jerky chuck. Jerky ball tip pastrami short ribs beef.   
     Beef ribs beef pork belly ball tip meatball shoulder tail strip steak ground round jowl. Shankle rump ground round spare ribs beef ribs ham beef landjaeger.</p>
</section>


<!-- Stack -->
<section id="stack">
    <h1 class="text-center">Stack</h1>
    <div class="row mt-5 ml-sm-3 ml-xs-3 d-flex justify-content-center"> 
        
        <div class="col-lg col-md-6 col-sm-6">
            <img src="../icons/html-5.svg" class="basic-logo">
            <h5 class="ml-3">HTML</h5>
        </div>
       
        <div class="col-lg col-md-6 col-sm-6">
            <img src="../icons/css3.svg" class="basic-logo">
            <h5 id="texto-css">CSS</h5>
        </div>  
        <div class="col-lg col-md-6 col-sm-6">
            <img src="../icons/javascript-4.svg" class="basic-logo">
            <h5 id="javascript-texto">JavaScript</h5>
        </div>
        <div class="col-lg col-md-6 col-sm-6">
            <img src="../icons/bootstrap-4.svg" class="imagem-stack">
            <h5 id="texto-bootstrap">Bootstrap</h5>
        </div>  
        <div class="col-lg col-md-6 col-sm-6">
            <img src="../icons/node-js-logo.svg" id="nodejs-logo">
            <h5 class="ml-4">NodeJS</h5>
        </div>
        <div class="col-lg col-md-6 col-sm-6">
            <img src="../icons/git-icon.svg" class="imagem-stack">
            <h5 class="ml-4">GIT</h5>
        </div>        
    </div>
</section>

<!-- Serviços -->
<section id="servicos">
    <h1 class="text-center mt-5">Serviços</h1>
    <div class="row mt-5 mb-4 justify-content-center">
        
        <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card background-azul mb-3" style="width: 16em;">
            <div class="card-body">
            <h4 class="card-title titulo-servico mt-3">Front-end</h4>
            <img src="../icons/frontend.svg" class="icon-servico-verde mt-2 mb-3">
            <hr class="mt-2 ml-0">
            <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
            </div>
        </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card background-verde mb-3" style="width: 16em;">
                <div class="card-body">
                <h4 class="card-title titulo-servico mt-3">Back-end</h4>
                <img src="../icons/backend.svg" class="icon-servico-verde mt-2 mb-3">
                <hr class="mt-2 ml-0">
                <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                </div>
            </div>
            </div>
        
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card background-azul mb-3" style="width: 16em;">
                    <div class="card-body">
                    <h4 class="card-title titulo-servico mt-3">Base de dados</h4>
                    <img src="../icons/base-de-dados.svg" class="icon-servico-verde mt-2 mb-3">
                    <hr class="mt-2 ml-0">
                    <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card background-verde mb-3" style="width: 16em;">
                    <div class="card-body">
                    <h4 class="card-title titulo-servico mt-3">Design Responsivo</h4>
                    <img src="../icons/design-responsivo.svg" class="icon-servico-verde mt- mb-1">
                    <hr class="mt-2 ml-0">
                    <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                    </div>
                </div>
                </div>
        
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card background-azul mb-3" style="width: 16em;">
                        <div class="card-body">
                        <h4 class="card-title titulo-servico mt-3">User Experience</h4>
                        <img src="../icons/frontend.svg" class="icon-servico-verde mt-2 mb-3">
                        <hr class="mt-2 ml-0">
                        <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                        </div>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card background-verde mb-3" style="width: 16em;">
                            <div class="card-body">
                            <h4 class="card-title titulo-servico mt-3">User Interface</h4>
                            <img src="../icons/frontend.svg" class="icon-servico-verde mt-2 mb-3">
                            <hr class="mt-2 ml-0">
                            <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                            </div>
                        </div>
                     </div>
                </div>    
    </section>

    <!-- PROCESSO CRIATIVO -->
    <section>
        <h1 class="text-center mt-5">Como funciona?</h1>
        <p class="text-center mb-5" id="texto-processo">(Processo Cliente - Criativo)</p>
            <div class="row justify-content-center">
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/briefing.svg" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Briefing</h6>
                      </figure>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/pesquisa_lupa.png" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Pesquisa</h6>
                      </figure>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/conceito.png" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Conceito</h6>
                      </figure>
                </div>


            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/pesquisa_lupa.png" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Pesquisa</h6>
                      </figure>
                </div>

            </div>

    </section>


</div>
<%- include("partials/footer")%> 