<%- include("partials/header")%>

<!--Header-->
<section>
    <header class="jumbotron mb-0">
		<!-- <div class="container"> -->
            <div id="header-projetos">
                <h2>Veja aqui os meus <br>projetos</h2>
                <a href="#" class="btn btn-success btn-sm" >Adicionar Parques de Campismo</a>
            </div>    
        <!-- </div> -->
	</header>
</section>

<!-- Sobre -->
<p class="text-center mt-5">Bacon ipsum dolor amet ham hock pork kevin, prosciutto biltong leberkas tenderloin ground round pig. Beef jerky andouille salami kevin. Burgdoggen sirloin short ribs filet mignon short loin hamburger kevin, bacon turkey. Landjaeger tongue jerky chuck. Jerky ball tip pastrami short ribs beef. Beef ribs beef pork belly ball tip meatball shoulder tail strip steak ground round jowl. Shankle rump ground round spare ribs beef ribs ham beef landjaeger.</p>

<%- include("partials/footer")%> 