<%- include("partials/header")%>

<!--Header-->
<section class="header">
    <header class="jumbotron mb-0">
            <div class="header-projetos">
                <h3 class="texto-header-projetos text-center">Veja aqui os meus <br><span>projetos</span></h3>
                <a href="/projetos" class="btn btn-sm" id="botao-projetos" >Clicar</a>
            </div>   
	</header>
</section>

<div class="container">

<!-- Sobre -->
<section id="sobre" >
    <p class="text-center">Bacon ipsum dolor amet ham hock pork kevin, prosciutto biltong leberkas tenderloin ground round pig. Beef jerky andouille salami kevin. Burgdoggen sirloin short ribs filet mignon short loin hamburger kevin, bacon turkey. Landjaeger tongue jerky chuck. Jerky ball tip pastrami short ribs beef.   
     Beef ribs beef pork belly ball tip meatball shoulder tail strip steak ground round jowl. Shankle rump ground round spare ribs beef ribs ham beef landjaeger.</p>
</section>


<!-- Serviços -->
<section id="servicos">
    <h1 class="text-center mt-5">Serviços</h1>
    <div class="row mt-5 mb-4">  
        
        <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
        <div class="card background-azul mb-3" style="width: 16em;">
            <div class="card-body">
            <h4 class="card-title titulo-servico mt-3">Front-end</h4>
            <img src="../icons/frontend.svg" class="icon-servico-verde mt-2 mb-3">
            <hr class="mt-2 ml-0">
            <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
            </div>
        </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
            <div class="card background-verde mb-3" style="width: 16em;">
                <div class="card-body">
                <h4 class="card-title titulo-servico mt-3">Back-end</h4>
                <img src="../icons/backend.svg" class="icon-servico-verde mt-2 mb-3">
                <hr class="mt-2 ml-0">
                <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                </div>
            </div>
            </div>
        
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                <div class="card background-azul mb-3" style="width: 16em;">
                    <div class="card-body">
                    <h4 class="card-title titulo-servico mt-3">Base de dados</h4>
                    <img src="../icons/base-de-dados.svg" class="icon-servico-verde mt-2 mb-3">
                    <hr class="mt-2 ml-0">
                    <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                <div class="card background-verde mb-3" style="width: 16em;">
                    <div class="card-body">
                    <h4 class="card-title titulo-servico mt-3">Design Responsivo</h4>
                    <img src="../icons/design-responsivo.svg" class="icon-servico-verde mt- mb-1">
                    <hr class="mt-2 ml-0">
                    <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                    </div>
                </div>
                </div>
        
                <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                    <div class="card background-azul mb-3" style="width: 16em;">
                        <div class="card-body">
                        <h4 class="card-title titulo-servico mt-3">User Experience</h4>
                        <img src="../icons/frontend.svg" class="icon-servico-verde mt-2 mb-3">
                        <hr class="mt-2 ml-0">
                        <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                        </div>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                        <div class="card background-verde mb-3" style="width: 16em;">
                            <div class="card-body">
                            <h4 class="card-title titulo-servico mt-3">User Interface</h4>
                            <img src="../icons/frontend.svg" class="icon-servico-verde mt-2 mb-3">
                            <hr class="mt-2 ml-0">
                            <p class="card-text texto-servico mt-4 mb-3">Design criado exclusivamente, para o clente (Empresa/Particular)</p>
                            </div>
                        </div>
                     </div>
                </div>    
    </section>

    <!-- PROCESSO CRIATIVO -->
    <section id="processo-criativo">
        <h1 class="text-center mt-5">Como funciona?</h1>
        <p class="text-center mb-5" id="texto-processo">(Processo Cliente - Criativo)</p>
            <div class="row justify-content-center">
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/briefing.svg" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Briefing</h6>
                        <p class="descricao-processo">O Cliente apresenta o projeto/ideia ao Criativo.</p>
                      </figure>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/pesquisa_lupa.png" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Pesquisa</h6>
                        <p class="descricao-processo">O Criativo faz a pesquisa dos recursos necessários para o projeto.</p>
                      </figure>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/conceito.png" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Conceito</h6>
                        <p class="descricao-processo">Feita a pequisa o Criativo desenvolve uma solução criativa e envia ao Cliente.</p>
                      </figure>
                </div>


            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/producao.png" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Produção</h6>
                        <p class="descricao-processo">Com a aprovação do Cliente o Criativo inicia a produção do projeto nos seus formatos finais.</p>
                      </figure>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="figure">
                        <img src="../icons/entrega.png" class="figure-img img-fluid imagens-processo">
                        <h6 class="titulo-processo">Entrega</h6>
                        <p class="descricao-processo">O Criativo entrega o trabalho final ao Cliente.</p>
                      </figure>
                </div>

            </div>

    </section>


</div>
<%- include("partials/footer")%> 