<%- include("partials/header")%>

<!--Header-->
<section>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div id="botao-projetos">
                    <h2>Veja aqui os meus projetos</h2>
                    <a class="btn btn-primary">Projetos</a>
                </div>
            </div>
        </div>
    </div>    
</section>

<%- include("partials/footer")%> 