<%- include("partials/header") %>

<!--Header-->
<section id="header">
    <header class="jumbotron mb-0">
            <div id="header-projetos">
                <h2 class="texto-projetos text-center mb-5 mt-5">Projetos</h2>
            </div>   
	</header>
</section>

<div class="container">
    <p class="text-center mb-5 mt-5" id="texto-projeto">(Clique num projeto para aceder ao repositório Github)</p>
</div>    

<%- include("partials/footer") %>