<%- include("partials/header") %>

<!--Header-->
<section id="header">
    <header class="jumbotron mb-0">
            <div id="header-projetos">
                <h2 class="texto-projetos text-center mb-5 mt-5">Projetos</h2>
            </div>   
	</header>
</section>

<div class="container">
    <p class="text-center mb-5 mt-5" id="texto-projeto">(Clique num projeto para aceder ao repositório Github)</p>
        <div class="row text-center justify-content-center">

            <div class="col-lg-4 col-md-6 col-sm-6">
				<figure class="figure">
                   <a href="https://github.com/JoaoPedroFerreira31/YelpCamp"><img src="../projetos/yelp_camp.png" class="figure-img img-fluid imagens-projetos" > </a>
                    <p class="legenda-branco">YelpCamp</p>
                  </figure>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
				<figure class="figure">
                    <a href="https://github.com/JoaoPedroFerreira31/Museum_of_Candy"><img src="../projetos/Museum_of_candy.png" class="figure-img img-fluid imagens-projetos"></a>
                    <p class="legenda-branco">Museum of Candy</p>
                  </figure>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
				<figure class="figure">
                    <a href="http://amy.pt/"><img src="../projetos/amy.png" class="figure-img img-fluid imagens-projetos"></a>
                    <p class="legenda-preto">AMY</p>
                  </figure>
			</div>

        </div>

        <div class="row text-center mb-5 justify-content-center">

            <div class="col-lg-4 col-md-6 col-sm-6">
				<figure class="figure">
                    <a href="https://github.com/JoaoPedroFerreira31/Blog_app"><img src="../projetos/blog_index_page.png" class="figure-img img-fluid imagens-projetos"></a>
                    <p class="legenda-preto">Blog app</p>
                  </figure>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
				<figure class="figure">
                    <a href="https://github.com/JoaoPedroFerreira31/Color_game"><img src="../projetos/color_game.png" class="figure-img img-fluid imagens-projetos"></a>
                    <p class="legenda-branco">Color Game</p>
                  </figure>
			</div>

        </div>
</div>    

<%- include("partials/footer") %>