.navbar-brand {
    font-family: "Poppins";
    font-weight: 600;
    color: white;
}

.nav-item {
    font-family: "Poppins";
    font-weight: 400;
}

.jumbotron {
    background-image: url("/icons/codigo_verde1.png");
    background-size: cover;
}

#header-projetos{
    background-color: #172A3C;
    width: 500px;
    padding: 100px;
}

h2 {
    font-family: "Poppins";
    font-weight: 600;
    color: white;
}

p {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
}
