.navbar-brand {
    font-family: "Poppins";
    font-weight: 600;
    color: white;
}

.nav-item {
    font-family: "Poppins";
    font-weight: 400;
}

/* HEADER */

.jumbotron {
    background-image: url("/icons/codigo_verde1.png");
    background-size: cover;
}

.header-projetos{
    background-color: #172A3C;
    width: 350px;
    padding: 100px;
    border-radius: 40px;
    margin-left: 60px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

.texto-header-projetos {
    font-family: "Poppins";
    font-weight: 600;
    color: white;
    text-align: center;
    width: 300px;
    margin-left: -73px;
    font-size: 28px;
}

#botao-projetos {
    background-color: #76C16C;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: -25px;
}

/* ABOUT */

#sobre {
    margin-top: 80px;
}

/* SERVIÇOS */

.background-azul {
 background-color: #172A3C;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
 max-width: 256px;
 max-height: 304px;
 
}

.background-verde {
    background-color: #76C16C;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    max-width: 256px;
    max-height: 304px;

   }

.titulo-servico {
    font-family: "Poppins";
    font-weight: 400;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    color: white;
}

.icon-servico-verde {
    width: 60px;
}

.icon-servico-azul {
    color: #172A3C;
}

.texto-servico {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 16px;
    color: white;
}

/* Processo Criativo */

#texto-processo {
    font-family: "Poppins";
    font-weight: 200;
    font-size: 32px;

}

.imagens-processo {
    background-color: #F9F8F8;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.titulo-processo {
    color: #172A3C;
    font-family: "Poppins";
    font-weight: 500;
}

.descricao-processo {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 15px;

}

/* PAGINA PROJETOS */

.texto-projetos {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 34px;
    color: white;

}

#texto-projeto {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 26px;
}

.imagens-projetos {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    min-width: 240px;
    max-height: 120px;
}

.legenda-branco {
    position: absolute;
    margin-top: -45px;
    margin-left: 10px;
    font-family: "Poppins";
    font-weight: 300;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    color: white;
}

.legenda-preto {
    position: absolute;
    margin-top: -45px;
    margin-left: 10px;
    font-family: "Poppins";
    font-weight: 300;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}


/* FOOTER */

#footer {
    background-color: #76C16C;
    height: 110px;
}


/* TEXT */

h1 {
    font-family: "Poppins";
    font-weight: 600;
    color: #172A3C;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
}

h5 {
    font-family: "Poppins";
    font-weight: 600;
    margin-top: 8px;
}

p{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
}

hr {
 border: 1px solid white;
 width: 40px;
}

